@import "../UI/theme/theme";

.root {
  border-radius: 20px;
}

.activityTitle {
  font-family: $font-primary;
  font-weight: $font-semibold;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contentTitle {
  font-size: 80px;
  font-family: $font-secondary;
  text-transform: uppercase;
}

.activityTitleContainer {
  display: flex;
}

.trackType {
  font-size: 28px;
  letter-spacing: 2px;
}
