@import "../theme/theme";

.root {
  audio {
    display: none;
  }
}

.svg {
  transform: translateY(-50%);
  top: 53%;
  position: absolute;
  left: 0;
}

.transparent {
  fill: transparent;
  opacity: 0;
}
