@import "../theme/theme";

.root {
  font-weight: $font-medium;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  text-align: center;
  padding: 0;
  border: 0;
  border-radius: 2px;
  transition:
          background-color 0.2s,
          transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $black;
  font-size: $link-font-size;
  &:hover {
    text-decoration: underline;
  }
}
