$font-base: Montserrat, sans-serif;
$font-primary: $font-base;
$font-secondary: bebas-neue, sans-serif;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-heavy: 900;

$base-font-size: 10;
$typo-row-span: 5;

$standard-typo-scale: 1.6;
$standard-typo-scale-mobile: 1.7;
$standard-typo-weight: $font-regular;
$standard-link-scale: 1.5;
$standard-link-scale-mobile: 1.5;

$button-font-size: $base-font-size * $standard-typo-scale-mobile + px;
$button-height: $typo-row-span * $grid-row-height;
$link-font-size: $base-font-size * $standard-link-scale-mobile + px;
