@import "../UI/theme/theme";

.root {
  background-color: white;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  p {
    font-size: 13px;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: $grey-dark;
    opacity: 0.5;
  }
}

.controlsContainer {
  display: flex;
  > div {
    flex: 1 1;
  }
}

.playNextContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  > span {
    display: inline-block;
  }
}

.playButton {
  border-radius: 100%;
  background-color: #F4F4F4;
  padding: 16px 16px;
  box-shadow: 0 5px 22px 0 rgba(0,0,0,0.4);
  svg {
    width: 18px;
    height: 16px;
    vertical-align: middle;
  }
}

.nextButton {
  svg {
    width: 18px;
    height: 16px;
    vertical-align: middle;
  }
}

