@import "../UI/theme/theme";

.root {
  background-color: white;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  p {
    font-size: 13px;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: $grey-dark;
    opacity: 0.5;
  }
}

.controlsContainer {
  display: flex;
  > div {
    flex: 1 1;
  }
}

.playNextContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  > span {
    display: inline-block;
    z-index: 1;
  }
}

.playButton {
  border-radius: 100%;
  background-color: #F4F4F4;
  padding: 16px 16px;
  box-shadow: 0 5px 22px 0 rgba(0,0,0,0.4);
  margin-right: 15px;
  svg {
    width: 18px;
    height: 16px;
    vertical-align: middle;
  }
  @media (max-width: 399px) {
    margin-right: 5px;
  }
}

.nextButton {
  margin-left: 15px;
  svg {
    width: 18px;
    height: 16px;
    vertical-align: middle;
  }
  @media (max-width: 399px) {
    margin-left: 5px;
  }
}

.timeDuration {
  text-align: right;
  min-width: 50px;
}

.playerFooter {
  font-size: 14px;
  color: $grey-dark;
  opacity: 0.5;
  font-weight: $font-semibold;
  svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
}
